# SMPL model download credentials
#
# Copy this file to credentials.toml and fill in your account details.
# credentials.toml is listed in .gitignore and will never be committed.
#
# Register at the respective websites to get credentials:
#   SMPL:  https://smpl.is.tue.mpg.de
#   SMPLX: https://smpl-x.is.tue.mpg.de
#   SUPR:  https://supr.is.tue.mpg.de
#
# If credentials.toml is absent or a section is empty, you will be prompted
# interactively when create_smpl_*/create_smplx_*/create_supr_* is first called.

[smpl]
username = ""
password = ""

[smplx]
username = ""
password = ""

[supr]
username = ""
password = ""
